<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
        <%= render "admin/articles/article_index", article: @article %>
          <div class="row mt-3">
            <div class="col-lg-8"><h3>トレーニング手順</h3></div>
            <div class="col-lg-4">
              <i class="ml-3"><%= link_to "投稿を削除する", article_path(@article), method: :delete, class: "btn btn-outline-danger", data: {confirm:"本当に削除しますか？"} %></i>
            </div>
          </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="mt-4 mb-3"><%= image_tag @article.article_image.variant(resize_to_fill: [150, 150]) %></div>
          </div>
          <div class="col-lg-8">
            <div class="mt-4 mb-3 p-3"><%= @article.method1_text %></div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <% if @article.article_image2.attached? %>
              <div class="mt-4 mb-3"><%= image_tag @article.article_image2.variant(resize_to_fill: [150, 150]) %></div>
            <% end %>
          </div>
          <div class="col-lg-8">
            <div class="mt-4 mb-3 p-3"><%= @article.method2_text %></div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <% if @article.article_image3.attached? %>
              <div class="mt-4 mb-3"><%= image_tag @article.article_image3.variant(resize_to_fill: [150, 150]) %></div>
            <% end %>
          </div>
          <div class="col-lg-8">
            <div class="mt-4 mb-3 p-3"><%= @article.method3_text %></div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <% if @article.article_image4.attached? %>
              <div class="mt-4 mb-3"><%= image_tag @article.article_image4.variant(resize_to_fill: [150, 150]) %></div>
            <% end %>
          </div>
          <div class="col-lg-8">
            <div class="mt-4 mb-3 p-3"><%= @article.method4_text %></div>
          </div>
        </div>

        <div class="row">
          <h3 class="ml-3">コメント一覧</h3>
          <table class="table table-hover">
            <thead>
              <td>投稿者</td>
              <td>コメント</td>
              <td></td>
              <td></td>
            </thead>
            <tbody id="comments">
               <%= render "admin/article_comments/comment_index", article_comments: @article_comments, article: @article %>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>