       <%= month_calendar events: user.calendars do |date, calendars| %>
        <%= date.day %>
        <% calendars.each do |calendar| %>
          <div>
            <%= link_to calendar.article.title, article_path(calendar.article_id) %>
          </div>
        <% end %>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th>トレーニング名</th>
            <th>重量</th>
            <th>回数</th>
            <th>セット数</th>
            <th>トレーニング日</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% calendars.each do |calender| %>
          <tbody>
            <tr>
              <td><%= calender.article.title %></td>
              <td><%= calender.weight %></td>
              <td><%= calender.rep %></td>
              <td><%= calender.set %></td>
              <td><%= calender.start_time.strftime("%Y-%m-%d")%></td>
              <% if calender.user_id == current_user.id %>
                <td><%= link_to "削除", user_calendar_path(current_user,calender), method: :delete, remote: :true,  data: {confirm:"スケジュールを削除してもよろしいですか？"}%></td>
              <% end %>
            </tr>
          </tbody>
        <% end %>
      </table>