<div class="container">
  <div class="row">
    <div class="col-lg-3">
        <div id="erorr">
          <%= render "layouts/error_messages", model: @calendar %>
        </div>
        <% if @user == current_user %>
          <div class="calendar_bg mt-5">
            <%= form_with url: user_calendars_path(@user), method: :get, class: "jsform", local: false do |f| %>
              <span class="pl-5 ml-4"><%= f.label :トレーニング %></span>
              <span class="pl-4 ml-2"><%= f.collection_select :gear_genre_id, @gear_genres, :id, :name, prompt: "--選択してください--" %></span>
              <span class="pl-4 ml-2"><%= f.collection_select :body_part_genre_id, @body_part_genres, :id, :name, prompt: "--選択してください--" %></span>
              <div class="text-center ml-1 mt-3"><%= f.submit "ジャンルで絞り込み", class:"btn light_green" %></div>
            <% end %>
            <div id="form">
              <%= render "public/calendars/form", calendar: @calendar, articles: @articles %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-lg-9" id="calendar">
       <%= render "public/calendars/calendar", calendars: @calendars, user: @user %>
       <div class="row">
        <div class="mx-auto">
          <%= paginate @calendars %>
        </div>
      </div>
      </div>
  </div>
</div>