<div class="row profile_header">
  <div class="col-lg-7 ml-3">
    <div class="row">
      <h3>ホーム</h3>
    </div>
    <div class="row ">
      <%= articles.count %>件の投稿
    </div>
  </div>
</div>
<div class="row">
  <%= form_with method: :get, url: search_path do |f| %>
    <%= f.hidden_field :range, :value => "投稿" %>
    <%= f.hidden_field :search, :value => "曖昧検索" %>
    <div class="border p-1">
      <%= f.text_field :word, placeholder: "Search", style: "border: 0; outline: 0;" %>
      <%= f.button :type => "submit", style: "border-style: none; background: none;" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>
</div>