<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1>sideberrrrrrrrr</h1>
    </div>
    <div class="col-lg-8 md-lg-1">
      <% @articles.each do |article| %>
        <div class="row">
          <%= link_to article_path(article)  do %>
            <%= image_tag article.get_article_image(200, 200) %>
            <%= article.title %>
          <% end %>
          <%= article.text %>
          <i class="<%= article.gear_genre_icon(article.gear_genre.name) %>"></i>
          <%= article.body_part_genre.name %>
           <% if article.favorited_by?(current_user) %>
            <p>
              <%= link_to article_favorites_path(article), method: :delete do %>
                <%= article.favorites.count %>:♥
              <% end %>
              </p>
            <% else %>
            <p>
              <%= link_to article_favorites_path(article), method: :post do %>
                <%= article.favorites.count %>:♡
              <% end %>
            </p>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>