<div class="container">
      <div class="col-lg-8 text-center ml-5 mb-3">
      <h3>コメント編集</h3>
    </div>
  <div class="row mx-auto">
    <div class="col-lg-8 text-center mx-auto">
      <%= form_with model: @article_comment, url: article_article_comment_path(@article, @article_comment) do |f| %>
          <div class="form-group">
            <label class="mr-5"><%= f.label :コメント %></label>
              <%= f.text_area :comment, placeholder: "コメントを入力してください", size: "40x1" %>
            </div>
            <%= f.hidden_field :article_id, :value => @article.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <div class="text-center"><%= f.submit "コメント編集" , class: "btn light_green btn-sm mb-2"%></div>
      <% end %>
    </div>
  </div>
</div>